---
const { socialLink } = Astro.props;

const Icon = socialLink.icon;
---

<a
	href={socialLink.url}
	target="_blank"
	rel="noopener noreferrer"
	class="text-[#8a7b6d] hover:text-[#7b1e25] transition-colors duration-200"
	aria-label={socialLink.name}
>
	<Icon size={20} />
</a>
